@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #262626;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0070bc;
  border-radius: 10px;
}

.mr-3 {
  margin-right: 5px;
}
.mb-3 {
  margin-bottom: 40px;
}
ul,
li {
  list-style-type: none !important;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 95vw;
  max-height: 95dvh;
}

.card-container {
  display: flex;
  width: max-content;
}
.card {
  width: 400px;
  max-height: 95dvh;
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
}
.card-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-headline {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 700;
  color: #575757;
}

.card-container .svg:nth-child(2) {
  background-color: #00b5ff;
}
.svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100px 0 0 100px;
}
.svg-1 {
  background-color: #d21010;
}
.svg-2 {
  background-color: #00b5ff;
}
.svg-3 {
  background-color: #ffe700;
}
.svg-4 {
  background-color: #a6ff00;
}
.svg-5 {
  background-color: #73b100;
}
.svg-6 {
  background-color: #3e5f00;
}
.card-headline span:nth-child(2) {
  background-color: #e8eef3;
  width: 25px;
  height: auto;
  text-align: center;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content {
  font-weight: 400;
  font-size: 14px;
}
.card-person {
  font-weight: 500;
  font-size: 15px;
  color: #575757;
}

.content-img {
  width: 25px;
  height: 25px;
}
.content-icon {
  width: 15px;
  height: 15px;
}

/* Styles for the popup */
.modal-btn {
  background-color: transparent;
  border: 1px dotted #436601;
  padding: 3px;
}
.modal-btn:hover {
  cursor: pointer;
  background-color: #a6ff00;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 500px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.input-file-form {
  display: flex;
  justify-content: space-between;
}
.modal-body {
  padding: 20px 0 0 0;
}

.submit-btn {
  background-color: #375500;
  border: none;
  color: #fff;
  padding: 12px;
  height: fit-content;
  border-radius: 10px;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: #375500d7;
}
/* Style for the close button */
.close-button {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #d21010;
}

/* Upload attachment button */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid #a6ff00;
  color: #008000;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
  background-color: gray;
  color: white;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
